@font-face {
    font-family: "bubble";
    src: url(../WEBD2.Assignments.Homepage/fonts/PLANB___.TTF);
}

@font-face {
    font-family: "y2k";
    src: url(../WEBD2.Assignments.Homepage/fonts/PLANK___.TTF);
}
/* Defaults ----------*/

html{
font-family: sans-serif;
}

body{
margin: 50px;
background-color: rgb(224, 34, 199);
}

h1{
font-family: "bubble";
}

/*CSS ---------- */

.wrapper{
    width: 80%;
    margin: auto;
}

.nav{
list-style-type: none;
}

.header{
height: 7vh;
background: linear-gradient(45deg, greenyellow, rgb(0, 225, 255));
}

#billie{
    color: black;
    margin: auto;
    font-size: 50px;
    align-items: center;
    font-family: "bubble"
}

.jerry{
    margin-top: 10px;
}

.main{

}

.footer{

}
