/* Defaults ----------*/

html{
font-family: sans-serif;
}

body{
margin: 50px;
background-color: rgb(224, 34, 199);
}

/*CSS ---------- */

.wrapper{
    width: 80%;
    margin: auto;
}

.nav{
list-style-type: none;
}

.header{
height: 7vh;
background: linear-gradient(45deg, greenyellow, rgb(0, 225, 255));
}

#billie{
    color: black;
}

.jerry{
    margin-top: 10px;
}

.main{

}

.footer{

}
