/* FONTS -------------------------- */

@font-face {
    font-family: "bubble";
    src: url(../fonts/PLANB___.TTF);
}

@font-face {
    font-family: "y2k";
    src: url(../fonts/PLANK___.TTF);
}

@font-face {
    font-family: "ss41";
    src: url(../fonts/SS41.ttf);
}

@font-face {
    font-family: "acid";
    src: url(../fonts/Acidic.TTF);
}

@font-face {
    font-family: "dragrace";
    src: url(../fonts/62DRAGZ.otf));
}


/* Defaults ----------*/

html{
font-family: sans-serif;
}

body{
margin: 50px;
background-color: rgb(233, 107, 216);
}

h1{
font-family: "bubble";
font-size: 60px;
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: greenyellow;
}

h2{
    font-family: "acid";
    color: rgb(38, 237, 252);
    font-size: 20px;
}

/*CSS ---------- */

.wrapper{
    width: 80%;
    margin: auto;
}

.nav{
list-style-type: none;
font-family: "acid";
color: chartreuse;
}

.header{
height: 10vh;
background: linear-gradient(45deg, greenyellow, rgb(0, 225, 255));
}

#billie{
    color: black;
    margin: 0%;
    font-size: 70px;
    margin-left: 50%;
    font-family: "bubble";
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgb(54, 66, 230);
}

.jerry{
    margin-top: 10px;
}

.main{

}

.flex{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: flex-start;
flex-wrap: nowrap;
}
.flex div{
    flex: 1;
    border: 1px solid rgb(180, 20, 74);
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    height: 200px;
    overflow: scroll;
}
.flex div:nth-child(2){
flex: 3;
}
.flex h1{
    background-color: rebeccapurple;
    margin-top: 0%;
}


/* SEPERATE FLEXBOX; CSS FOR FLEXBOX FROM FLEX-PAGE EXERCISE */

.flexBox{
    display: flex;
    flex-direction: column;
}
.flexBox div{
    flex: 1;
    border: 1px solid rgb(180, 20, 74);
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}
.flexBox h1{
    background-color: rosybrown;
    margin-top: 0%;
}

.footer{
font-style: oblique;
font-style: italic;
margin-top: 100px;
}
